<!DOCTYPE html>
<html>

<head lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <title></title>
  <link type="text/css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>

<body>
  <div class="layui-container">
    <form class="layui-form" action="/create" th:action="@{/create}" method="POST">
      <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="ID" autocomplete="off"
          class="layui-input" readonly>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="请输入姓名" autocomplete="off"
          class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
        <input type="text" name="title" required lay-verify="required" placeholder="请输入地址" autocomplete="off"
          class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
    </form>
  </div>

</body>

</html>